body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    color: #b30006;
}

button:active {
    background-color: #00ff48;   
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: #808080;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    input[type="text"] {
        width: 60%;
    }
}

@media only screen and (max-width: 480px) {
    input[type="text"] {
        width: 50%;
    }
}
